{% extends 'base.html' %}
{% load static %}
{% block title %}Dr. John Watson Dental Services{% endblock %}
{% block meta_description %}Find the current dental services provided by Dr. John Watson DMD.{% endblock %}
{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %} );">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Our Dental Services</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Cleaning and Exams</h5>
            <p>Yes! Routine dental cleanings help remove stubborn and bacteria-filled plaque and tartar from your teeth. This is important because, if left too long, plaque and tartar can cause tooth decay, gum disease, and other serious damage.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s7.png' %}" alt="">
            </div>
            <h5>Missing Teeth</h5>
            <p>Missing one or more teeth can lead to a number of oral health concerns that could even lead to the loss of additional previously healthy teeth. Missing teeth can also lead to a drop-in confidence levels as patients feel self-conscious about the way that their smile now looks.

            There are several options for missing teeth that can help to restore bite functionality while also ensuring that patients feel confident about their teeth each time that they smile, laugh or hold a conversation.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s8.png' %}" alt="">
            </div>
            <h5>Teeth Whitening</h5>
            <p>We understand how important it is to feel confident in your smile. Teeth Whitening brightens the shade of your teeth so they appear whiter, fresher and brighter. Your Smiles Dental dentist will first assess your suitability for teeth whitening following a dental examination. Once suitability is confirmed, your dentist will talk to you about the options available.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Bridges</h5>
            <p>Have you lost one or more teeth? You may be a great candidate for a dental bridge. A well-crafted porcelain bridge looks just like your natural teeth and restores your smile to its original health and function.

            As the name suggests, this treatment “bridges” the gap left in your mouth by a missing tooth. With this procedure, the bridge is held in place by the healthy teeth adjacent to the gap in your smile.

            Dental bridges are fixed in place and considered by many to be a better alternative to removable partial dentures. We’ll help you decide if this treatment is right for you.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s10.png' %}" alt="">
            </div>
            <h5>Dentures</h5>
            <p>If you’re missing multiple teeth due to decay, injury, or the natural aging process, dentures might be the perfect solution.

              Modern dentures are made from high-tech, durable materials and are much easier to maintain than you might think. When properly designed and fitted, your dentures will act just like natural teeth, restoring your ability to smile, speak, and chew with confidence. 

              This isn’t your only tooth-replacement option. We’ll help you compare treatments, providing all the information you need to make the very best decision for you.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Crown</h5>
            <p>A dental crown is like a cap that covers the entire visible portion of the tooth, protecting its remaining structure and bringing back its original shape, size, and color.

            There are a few reasons why you might need a porcelain crown. Severe tooth decay is the most common — in that case, a filling, inlay, or onlay just won’t be enough to stop the cavity. You may also need a crown to fix a tooth that’s been fractured or as the last step of a root canal or dental implant procedure.

            At Jackson Family Dental, our porcelain crowns are custom designed to fit your mouth. We specialize in tooth-colored crowns that look just like your natural teeth. Plus, thanks to our advanced technology, we offer same day crown options to fit your busy life.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" 
    style="background-image: url('{% static 'website/img/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“My experience at Jackson Family Dental has been one of great professionalism and great service. They have the technology and everything you’re looking for in a dentist. But the thing that really keeps me and my family coming back are the relationships we’ve built.”</h5>
                <h6>Kirti Dhiman</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I had an amazing experience. I have been to several offices, but this one really blew me away. I was beyond impressed with every detail of my visit.”</h5>
                <h6>Rahul Garg</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I have a history of disliking dentists. I’ve had a lot of pain and a lot and a lot of procedures done. And when I went to Dr. Jesse I had a painless experience for the first time and that just really changed things for me.”</h5>
                <h6>Anushka Sharma</h6>
                <p>Dental Patient</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/4.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">How your mouth bacteria can harm your lungs</a>
              <p>There is a clear link between poor oral health and respiratory disease. Cavities and gum disease are all signs of poor oral health. Did you know those issues increase the risk of lung infection? When bacteria travels from the mouth to the lungs, they can lead to pneumonia and increase the risk of emphysema.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 19 December 2020</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/5.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">What is the best kind of toothpaste to use?</a>
              <p>Sensodyne ProNamel Gentle Whitening Toothpaste</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 14 June 2019</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/6.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Why you should avoid sipping your drinks</a>
              <p>Tooth erosion — also known as dental erosion or acid erosion — occurs when acids wear away tooth enamel, which is the substance that coats the outer layer of each tooth. Over time, this erosion could give rise to tooth discoloration, sensitivity, and even tooth loss. One leading cause of tooth erosion is acids in our foods and drinks, and soda and fruit juices are among the biggest offenders.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 10 Jan 2007</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

{% endblock %}